
###Start Kloxo PHP config Area
###Please Don't edit these comments or the content in between. kloxo uses this to recognize the lines it writes to the the file. If the above line is corrupted, it may fail to recognize them, leading to multiple lines.
<Ifmodule mod_php4.c>
php_value error_log /home/admin/__processed_stats/ratiomaster.nrpg.info.phplog
php_value upload_max_filesize 2M
php_value max_execution_time  30
php_value max_input_time  60
php_value memory_limit  32M
php_value post_max_size  8M
php_flag register_globals  off
php_flag display_errors  off
php_flag file_uploads  on
php_flag log_errors  off
php_flag output_buffering  off
php_flag register_argc_argv  on
php_flag magic_quotes_gpc   off
php_flag magic_quotes_runtime  off
php_flag magic_quotes_sybase  off
php_flag mysql.allow_persistent  off
php_flag register_long_arrays  on
php_flag allow_url_fopen  on
php_flag cgi.force_redirect  on
php_flag enable_dl  on
</Ifmodule>
<Ifmodule mod_php5.c>
php_value error_log /home/admin/__processed_stats/ratiomaster.nrpg.info.phplog
php_value upload_max_filesize 2M
php_value max_execution_time  30
php_value max_input_time  60
php_value memory_limit  32M
php_value post_max_size  8M
php_flag register_globals  off
php_flag display_errors  off
php_flag file_uploads  on
php_flag log_errors  off
php_flag output_buffering  off
php_flag register_argc_argv  on
php_flag magic_quotes_gpc   off
php_flag magic_quotes_runtime  off
php_flag magic_quotes_sybase  off
php_flag mysql.allow_persistent  off
php_flag register_long_arrays  on
php_flag allow_url_fopen  on
php_flag cgi.force_redirect  on
php_flag enable_dl  on
</Ifmodule>

###End Kloxo PHP config Area

